---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Works from "../components/Works.astro";
import Contact from "../components/Contact.astro";
import CombinedNav from "../components/react/CombinedNav";
---

<Layout title="Imran Kabir - Full Stack Developer">
  <div class="relative">
    <CombinedNav client:load />
    <Hero />
    <About />
    <Experience />
    <Works />
    <Contact />
  </div>
</Layout>
